@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
    font-family: "Times New Roman", Times, serif;
    margin: 10px;
}

body {
    background-color: rgb(59, 59, 59);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.header h1 {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
}

.header p {
    width: 60%;
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    font-size: 2rem;
}

.outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
